{% extends "base.html" %}
{% load gb %}
{% block content %}
<div class="auth-wrap"><div class="auth-card">
{% if validlink %}
  <div class="a-head"><div class="mark">{% include "_logo.html" %}</div><h1>{% t "reset_confirm.heading" "Choose a new password" %}</h1></div>
  <form method="post" novalidate>{% csrf_token %}
    {% include "_field.html" with field=form.new_password1 %}
    {% include "_field.html" with field=form.new_password2 %}
    <button type="submit" class="btn btn-primary btn-block">{% t "reset_confirm.submit" "Save password" %}</button>
  </form>
{% else %}
  <div class="a-head"><h1>{% t "reset_confirm.expired_heading" "Link expired" %}</h1><p>{% t "reset_confirm.expired_text" "This reset link is invalid or has already been used." %}</p></div>
  <a href="{% url 'accounts:password_reset' %}" class="btn btn-primary btn-block">{% t "reset_confirm.new_link" "Request a new link" %}</a>
{% endif %}
</div></div>
{% endblock %}
